<% review.comments.each do |comment| %>
  <div class="comment" id="form-edit-<%= comment.id %>">
    <div class="td-comment-title">
      <% unless comment.user.avatar.url.nil? %>
        <%= image_tag comment.user.avatar.url, class: "w3-circle td-img" %>
      <% else %>
        <%= image_tag "noprofile.jpg", class: "w3-circle td-img" %>
      <% end %>
      <span class="bold"><%= link_to comment.user.username %></span>
      <span class="time-ago-in-words pull-right">
        <%= time_ago_in_words(comment.created_at) %>
        <%= t("views.activities.ago") %>
      </span>
      <hr>
    </div>
    <div class="td-comment-content"><%= comment.content %></div>
    <div class="td-comment-content">
      <% if comment.user.is_user? (current_user) %>
        <%= link_to "Edit", edit_book_review_comment_path(comment.review.book, comment.review, comment), remote: true %>
        <%= link_to "Delete", book_review_comment_path(comment.review.book, comment.review, comment),
          method: :delete, data: {confirm: "Are you sure??"} %>
      <% end %>
    </div>
  </div>
<% end %>
