<% @books.each do |book| %>
  <article class="style<%= rand(1..6) %>">
    <span class="image">
      <%= image_tag book_image(book), class: "img-responsive home-image" %>
    </span>
    <%= link_to book_path(book), class: "td-book-wrap" do %>
      <h2><%= book.title %></h2>
      <div class="content">
        <p><%= "" %> <%= book.author %></p>
        <p>
          <%= t "views.book.show.ratescore" %>
          <span class="average-review-rating" data-score="<%= book.rate_score %>"></span>
        </p>
        <p>Reviews: <%= book.reviews.size %></p>
      </div>
    <% end %>
  </article>
<% end %>
<div class="td-wrap-pagination" style="text-align: center; width: 100%;
  padding: 30px 0;">
  <%= paginate @books %>
</div>
