<div class="col-sm-8 col-sm-offset-2">
  <div class="td-invoice-box padding">
    <div class="td-invoice-show-top">
      <span></span>
      <hr>
    </div>

    <div class="td-invoice-content">
      <div class="td-invoice-content-left text-center">
        <% unless @book.picture.url.nil? %>
          <%= image_tag @book.picture.url, class: "width fix-height" %>
        <% else %>
          <%= image_tag "books.jpg", class: "width fix-height" %>
        <% end %>
      <span class="average-review-rating" data-score="<%= @book.rate_score %>"></span>
      </div>
      <div class="td-invoice-content-right">
        <div class="td-line">
          <i class="fa fa-circle-o td-circle-first td-color"
            aria-hidden="true"></i>
          <i class="fa fa-circle-o td-circle-second td-color"
            aria-hidden="true"></i>
        </div>

        <div class="td-invoice-content-right-detail">
          <h2 class="td-invoice-address-top">
            <%= @book.title %>
          </h2>
          <p class="td-invoice-address-bottom">
            <%= @book.description %>
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr>

    <div class="td-invoice-content-2">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <p class="td-text-top text-center">
          <%= t "home.author" %>
        </p>
        <p class="td-text-bottom text-center">
          <%= @book.author %>
        </p>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <p class="td-text-top text-center">
          <%= t "books.new.pages" %>
        </p>
        <p class="td-text-bottom text-center">
          <%= @book.pages %>
        </p>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <p class="td-text-top text-center">
          <%= t "books.new.publish_time" %>
        </p>
        <p class="td-text-bottom text-center">
          <%= l @book.publish_time, format: :default %>
        </p>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <% unless current_user.nil? %>
    <div class="td-invoice-box padding">
      <div id="review_form">
        <%= render "shared/review_form", review: @review_new %>
      </div>
    <br>
    </div>
  <% end %>

  <div class="padding">
    <% unless @reviews.blank? %>
      <% @reviews.each do |review| %>
        <%= render "shared/form_reviews", review: review %>
      <% end %>
    <% else %>
      <div>
        <h3 class="text-center">
          <%= t "no_content" %>
        </h3>
      </div>
    <% end %>
  </div>
</div>
