<h1 class="text-center">All Events</h1>
<%= link_to "New Event", new_admin_post_path,
  class: "btn btn-primary button" %>
<% @posts.each do |post| %>
  <div class="w3-container w3-card-2 w3-white w3-round" style="margin-top: 20px;
    padding: 20px 5%">
    <p>Event <%= post.id %>:</p>
    <i><%= post.content %></i>
    <%= link_to t("action.edit"), edit_admin_post_path(post),
      class:"btn btn-warning hvr-pulse-shrink pull-right" %>
    <%= link_to t("destroy.button"), admin_post_path(post),
      method: :delete, class: "btn btn-danger hvr-pulse-shrink pull-right",
      data: {confirm: t("destroy.confirm")} %>
  </div>
<% end %>
