<section class="signin">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12 td-col-left">
        <h2 class="text-center"><%= t("devise.log_in") %></h2>

        <%= form_for resource, as: resource_name,
          url: session_path(resource_name) do |f| %>
          <div class="input">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true,
              class: "form-control signin-input" %>
          </div>

          <div class="input">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off",
              class: "form-control signin-input" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="input">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit t("devise.log_in"),
              class: "hvr-pulse-shrink btn btn-primary" %>
          </div>
        <% end %>

      </div>
      <div class="col-md-5 col-sm-5 col-xs-12 td-col-right">
        <%= render "devise/shared/links" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<section id="feature3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag("http://i.imgur.com/cb7wIQq.jpg",
          class: "image-background img-responsive") %>
      </div>

      <div class="col-md-3">
        <h3 class="feature3-h3"><%= t "note.title" %></h3>
        <ul>
          <li><%= t "note.list_1" %></li>
          <li><%= t "note.list_2" %></li>
          <li><%= t "note.list_3" %></li>
          <li><%= t "note.list_4" %></li>
        </ul>
      </div>

      <div class="col-md-6">
        <div class="title">
          <h3 class="feature3-h3"><%= t "blog.title" %></h3>
        </div>
        <div class="col-md-6 container-blog">
          <div class="row img-blog" id="img-blog">
            <%= image_tag("http://i.imgur.com/LHHjr9r.png",
              class: "image-background img-responsive") %>
            <p class="p-title after-img">
              <%= t "blog.test" %>
            </p>
            <small class="date"><%= t "blog.date" %></small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 demo2">
            <div class="row">
              <p class="p-title">
                <%= t "blog.test" %>
              </p>
              <small class="date"><%= t "blog.date" %></small>
            </div>
          </div>
          <div class="col-md-12 demo2">
            <div class="row">
              <p class="p-title">
                <%= t "blog.test" %>
              </p>
              <small class="date"><%= t "blog.date" %></small>
            </div>
          </div>
          <div class="col-md-12 demo2-end">
            <div class="row">
              <p class="p-title">
                <%= t "blog.test" %>
              </p>
              <small class="date"><%= t "blog.date" %></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 hover">
        <div class="row">
          <h1 class="counter">5</h1>
          <h1>+</h1>
          <h3><%= t "feature4.national" %></h3>
          <div class="s"></div>
          <p><%= t "feature4.test" %></p>
          <br>
          <%= button_tag t("feature4.more"), class: "btn2" %>
        </div>
      </div>
      <div class="col-md-4 hover">
        <div class="row">
          <h1 class="counter">657</h1>
          <h1>+</h1>
          <h3><%= t "feature4.personnel" %></h3>
          <div class="s"></div>
          <p><%= t "feature4.test" %></p>
          <br>
          <%= button_tag t("feature4.more"), class: "btn2" %>
        </div>
      </div>
      <div class="col-md-4 hover">
        <div class="row">
          <h1 class="counter">115</h1>
          <h1>+</h1>
          <h3><%= t "feature4.partner" %></h3>
          <div class="s"></div>
          <p><%= t "feature4.test" %></p>
          <br>
          <%= button_tag t("feature4.more"), class: "btn2" %>
        </div>
      </div>
    </div>
  </div>
</section>
